@model List<Thing.Models.Product>

@foreach(var product in @Model){
	<div class="card">
  <div class="card-header">
   @product.Name
  </div>
   <div class="card">

  <div class="card-body">
    <h8 class="card-title">Status:@product.Status</h8>
    <p class="card-text">@product.Description</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
  </div>
</div>
}
