@using Thing.Models.ViewModels;
@model CardViewModel

<div class="card">
    <div class="card-body">
        <h5 class="card-title">@Model.Title</h5>
        <p class="card-text">@Model.Text</p>
    </div>
</div>