@{
    ViewData["Title"] = "Home Page";
}

<div class="d-flex align-items-center justify-content-center fade-in" style="height: 80vh;">
    <div class="d-flex flex-column align-items-center">
        <img src="/img/fulllogo.svg" class="w-100" />
        <h3 class="mt-5">Selling platform made with honor in 1 week by Flurium team</h3>
    </div>
</div>