
 <div class="card">
          <div class="card-body">


            <div class="d-flex flex-start w-100">
              <div class="form-outline w-100">
                 <form action="@Url.Action("PostAnswer","Catalog")" method="post">
                      <input type="hidden" value="@ViewBag.ProductId" name="ProductId">
                      <input type="hidden" value="@ViewBag.CategoryId" name="CategoryId">
                      <input type="hidden" value="@ViewBag.CommentId" name="CommentId">
                     <textarea class="form-control" id="textAreaExample" rows="4"
                          style="background: #fff;" name="Content"></textarea>
                      <input type="submit"  class="btn btn-outline-primary btn-sm mt-2" value="Post Comment">
                 </form>

              </div>
            </div>

        </div>
      </div>

